{% extends 'base.html' %}

{% block feature %}
<div id="feature" style='height:60px;'>
    <div id="feature-content">
        <h2>Source Information</h2>
    </div>
</div>
{% endblock %}

{% block extra-content %}
<div id='extra-content'>
    <div id="title" align="center"><b>Source information for "{{ source.name }}"</b></div>
		{% if results %}
		<div id="resultset" align="center">
			<br /><br /><br /><br />
			<table>
				<tr><td>Title</td><td>Author</td><td>Year</td><td>ISBN</td><td>Original Title</td><td>Publisher</td></tr>
				{% for data in results %}
					<tr><td>{{ title }}</td><td>{{ data.author }}</td><td>{{ data.year }}</td><td>{{ data.isbn }}</td><td>{{ data.original_title }}</td><td>{{ data.publisher }}</td></tr>
				{% endfor %}
			</table>
		</div>
	    {% endif %}
</div>
{% endblock %}
